.todo-item {
  display: flex;
  justify-content: space-between;
}

.todo-item_content {
  display: flex;
  align-items: baseline;
  gap: rem;
  margin-right: 1rem;
  /* Condição necessaria para funcionamento do overflow*/
  min-width: 0;
}

/*Criação de um campo para edição adequada da box que armazenar os botões*/

.todo-box-items{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/*Edicação do Css responsável pela label do nome para que se ajuste caso o titulo seja muito grande*/

.todo-item_content label {
  font-size: 0.85rem;
  cursor: default;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  display: inline-block;

}

  

.todo-item_content input[type="checkbox"] {
  margin-right: 0.7rem;
  cursor: pointer;
  accent-color: #B5B5BA;
}

.todo-item_content label.completed {
  color: #B5B5BA;
  text-decoration: line-through;
}

.todo-item_edit{
  color: blue;
  width: 10px;
  width: fit-content;
}
.todo-item_delete {
  width: 10px;
  width: fit-content;
  color: red;
  background: none;
  border: none;
  cursor: pointer;
}


.fa-trash-alt:hover {
  color: rgba(65, 63, 63, 0.62);
}
