
<div class="todo-item">
  <div class="todo-item_content">
    <input
      id="task-{{ todo.id }}"
      type="checkbox" [(ngModel)]="todo.completed"
      (change)="onTaskChecked()"
    />
    <label
      for="task-{{ todo.id }}"
      [ngClass]="{'completed': todo.completed, 'incomplete': !todo.completed}"
    >{{ todo.title }}
  </label>
  </div>
  <!--Adicionando os botôes a uma box-->
  <div class="todo-box-items">
    <!-- Adição do metodo update ao botão todo-->
  <button class="todo-item_edit" (click)="updateTodo(todo)">
    <i class="fas fa-edit fa-lg"></i> Editar
  </button>


  <!--O style adicionado diretamente no botão tem preferencia ao aplicado no dedicado-->
  <button class="todo-item_delete"  (click)="deleteTodo()">
    <i class="fas fa-trash-alt fa-lg"></i> Remover
  </button>
    
  </div>
  
</div>
